body {
    margin: 0;
    font-family: 'Consolas';
}

#game {
    background-color: rgba(0, 139, 245, 0.966);
    width: 100vw;
    height: 100vh;
    margin-top: 0
}

#start-screen {
    background-color:    rgb(192, 32, 32);
    text-align: center;
    font-size: 48px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    padding: 30px;
}
#start-screen:hover{
    background-color: rgb(76, 243, 115);
    cursor: pointer;
}
.hidden {
    display: none;
}
.game-screen{
    width: 100%;
    height: 100%;
    background-color: rgb(167, 240, 255);
}
.wizard {
    background-image: url(/images/images/wizard.png);
}
.bug {
    position: absolute;
    background-image: url(/images/images/bug.png);
    background-size: cover;
}
.fireball {
    position: absolute;
    background-image: url(/images/images/fire-ball.png);
    background-size: cover;
}